<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Connect_4.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Connect_4.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Connect_4.Settings>
            <setting name="p1v1" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="p1v2" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="p1v3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p2v1" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="p2v2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p2v3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bv1" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="bv2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="bv3" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="lb" serializeAs="String">
                <value>Finn,10,1!Joe,20,0</value>
            </setting>
        </Connect_4.Settings>
        <Connect_4.Settings1>
            <setting name="p1v1" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="p1v2" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="p1v3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p2v1" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="p2v2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p2v3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="backv1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="backv2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="backv3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="myColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
        </Connect_4.Settings1>
    </userSettings>
</configuration>